.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.panel {
  border: 1px solid lightgray;
  min-height: 800px;
}



.metadata-container {
  text-align: left;
  max-width: 1600px; 
  display: block; 
}

